.parameters {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  display: flex;
  gap: 10px;
}

@media (max-width: 850px) {
  .links {
    flex-direction: column;
    margin-top: 15px;
  }
}

.parameters.light {
  background-color: #f8f9fa;
  color: #2d3436;
}
.parameters.dark {
  background-color: #1e272e;
  color: #ffffff;
}

form {
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  background: #242424;
  display: flex;
  align-items: center;
  gap: 15px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
